@font-face {
    font-family: twBold;
    src: url('./twbold.TTF');
}
@font-face {
    font-family: twStandard;
    src: url('./twStandar.otf');
}
.Container{
    width: 375px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden; 
}
::-webkit-scrollbar{
    width: unset;
}

/* ini css untuk actionbar */
.actionBar{
    width: 375px;
    height: auto;
    background-color: #F9F9F9;
    position: relative;
    padding: 15px 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.app-names{
    font-size: 20px;
    font-style: bold;
    color: #000000;
    padding-left: 32px;
    font-family: twBold;
}

.btn_add{
    width: 63px;
    height: 20px;
    margin-right: 44px;
    position: absolute;
    top: 16px;
    right: -22px;
    color: white;
    background-color: #4CA1AF;
    border-radius: 10px ;
    font-family: twStandard;
    border: 2px solid #4CA1AF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}

/* ini bagian modal */
.modal-container{
    width: 320px;
    height: 185px;
    position: fixed;
    padding-bottom: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F9F9F9;
    border-radius: 10px;
    z-index: 10px;
    font-family: twBold;
    font-size: 18px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.modal-body{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 17px;
}
.modal-container .modal-body .txt-Title{
    margin-bottom: 10px;
}
.modal-container .modal-body .txt-Desc{
    margin-top: 8px;
    margin-bottom: 10px;
}
.modal-container .modal-body .input {
    width: 275px;
    height: 25px;
    border: none;
    padding-left: 16px;
    border-radius: 10px;
    font-family: twStandard;
}
.modal-container .modal-body .button{
    width: 73px;
    height: 30px;
    margin-top: 21px;
    margin-right: 12px;
    border: none;
    float: right;
    background-color: #F46B45;
    border-radius: 10px;
    color: white;
}
.modal-container .modal-body .button:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}


/* ini css untuk main */
.content-list{
    width: 375px;
    height: 185px;
    margin-top: 20px;
    background-color: #fff;
    overflow: auto;
    font-family: twStandard;
    display: block;
}

.cardview-list{
    width: 299px;
    height: 160px;
    margin-left: 32px;
    margin-right: 44px;
    padding-top: 17px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}

.cardview-list .title-book{
    font-family: twBold;
    font-size: 18px;
}
.cardview-list .img-book{
    width: 100px;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: url('./shinjuku.jpg');
    background-repeat: no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}
.cardview-list .desc-book{
    width: 166px;
    height: 60px;
    font-family: twStandard;
    float: right;
    margin-top: -20%;
    margin-right: 5%;
    color: #2B2B2B;
    text-align: justify;
    line-height: 22px;
}
.cardview-list .btn_delete{
    width: 63px;
    height: 20px;
    margin-top: 10%;
    margin-right: 25%;
    float: right;
    color: #FF5F6D;
    background-color: #FFCFD3;
    border-radius: 10px ;
    font-family: twStandard;
    border: 2px solid #FFCFD3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.cardview-list .btn_update{
    width: 63px;
    height: 20px;
    margin-top: 10%;
    margin-right: -60%;
    float: right;
    color: #FFC371;
    background-color: #F9F9F9;
    border-radius: 10px ;
    font-family: twStandard;
    border: 2px solid #F9F9F9;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}