@font-face {
    font-family: twBold;
    src: url('./twbold.TTF');
}
@font-face {
    font-family: twStandard;
    src: url('./twStandar.otf');
}
.Container{
    width: 375px;
    height: 812px;
    margin: 0 auto;
    background-color: white;
    
}
/* ini css untuk actionbar */
.actionBar{
    width: 375px;
    height: auto;
    background-color: #F9F9F9;
    position: relative;
    padding: 15px 0;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}
.app-names{
    font-size: 20px;
    font-style: bold;
    color: #000000;
    padding-left: 32px;
    font-family: twBold;
}

.btn_add{
    width: 63px;
    height: 20px;
    margin-right: 44px;
    position: absolute;
    top: 16px;
    right: 0px;
    color: white;
    background-color: #4CA1AF;
    border-radius: 10px ;
    font-family: twStandard;
    border: 2px solid #4CA1AF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.16);
}

/* ini css untuk main */
.content-list{
    width: 375px;
    height: 350px;
    margin-top: 25px;
    max-height: 350px;
    background-color: #fff;
    overflow: auto;
    font-family: twStandard;
}
.content-list::-webkit-scrollbar{
    display: none;
}